<%= form_for [:admin, @album], builder: AdminFormBuilder, class: "container" do |f| %>
		
		<div class="mb-5">
			<span>Basic information</span>
			<hr />
		</div>

		<div class="form-row">
	    <div class="form-group col-md-6">
				<%= f.admin_bs_text(:title, @album.title) %>
			</div>
			
			<div class="form-group col-md-6">
				<%= f.admin_bs_datetime(:release_date, @album.release_date) %>
			</div>
		</div>

		<div class="form-group">
			<%= f.admin_bs_textarea(:description, @album.description) %>
		</div>

		<div class="mb-5 mt-5">
			<span>Label information</span>
			<hr />
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-12">
				<%= f.admin_bs_select(:label_id, Label.all, :id, :title, {selected: @album.label_id}) %>
			</div>
		</div>

		<div class="mb-5 mt-5">
			<span>Artist information</span>
			<hr />
		</div>

		<div class="form-row">	
			<div class="form-group col-md-12">
				<%= f.admin_bs_select(:artist_id, Artist.all, :id, :title, {selected: @album.artist_id}) %>
			</div>
		</div>

		<div class="form-row">	
			<div class="form-group col-md-12">
				<%= f.admin_bs_select(:artist_ids, Artist.all, :id, :title, {selected: @album.artist_ids}, multiple: true) %>
			</div>
		</div>

		<div class="form-group form-row">
			<%= f.admin_bs_checkbox(:available, @album.available) %>
		</div>


		<div class="mb-5 mt-5">
			<span>Images</span>
			<hr />
		</div>

		<% if false %>
		<div class="form-row">
			<div class="form-group col-md-12">
				<div class="custom-file custom-file--sm">
		  		<%= f.file_field :cover_image, direct_upload: true, class: "custom-file-input", id: "coverImage" %>
		  		<label class="custom-file-label" for="coverImage">Upload cover image</label>
				</div>
			</div>
		</div>
		<% end %>

		<div class="form-row">
			<div class="form-group col-md-12">
				<%= f.admin_bs_file :cover_image, direct_upload: true %>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<%= f.admin_bs_file :album_art_images, multiple: true, direct_upload: true %>
			</div>
		</div>



		<div id="image-loader">

		</div>

		<ul>
		  <% @album.album_art_images.each do |file| %>
		    <li>
		      <%= image_tag file.variant(resize: '100x100') %>
		    </li>
		  <% end %>
		</ul>

		<div class="form-group form-row mt-5">
			<%= f.submit class: 'btn btn-primary' %>
		</div>

	<% end %> 