<%= form_for @user, html: { class: "form-horizontal" } do |f| %>
  
  <div class="row">
		<div class="col-md-3"></div>
	    <div class="col-md-6">
	      <h2>Create Account</h2>
	      <hr>
	  </div>
	</div>

	<div class="row">
    <div class="col-md-3"></div>
  	<div class="col-md-6">
      <div class="form-group has-danger">
        <label class="sr-only" for="email">Name</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>

					<%= f.text_field :name, placeholder: 'Your Name', required: true, class: "form-control" %>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
    <div class="col-md-3"></div>
  	<div class="col-md-6">
      <div class="form-group has-danger">
        <label class="sr-only" for="email">E-Mail Address</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>

					<%= f.text_field :email, placeholder: 'you@example.com', required: true, class: "form-control" %>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>

					<%= f.password_field :password, placeholder: "Password", required: true, class: "form-control" %>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
    <div class="col-md-3"></div>
  	<div class="col-md-6">
  		<label class="sr-only" for="password">Avatar</label>
  		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
  			<div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-image"></i></div>
      	<div class="custom-file">
					<%= f.file_field :avatar, class: "custom-file-input", id: "customFile" %>
					<%= f.label "Avatar", class: "custom-file-label" %>
				</div>
			</div>

			<% if @user.avatar.attached? %>
				<div class="p-3 ml-4">
					<%= image_tag @user.avatar, height: "150px", width: 'auto' %>
				</div>
			<% end %>
		</div>
	</div>


	<div class="row" style="padding-top: 1rem">
    <div class="col-md-3"></div>
    <div class="col-md-6">

  		<%= f.submit class: "btn btn-primary" %>

  	</div>
  </div>

<% end %>