<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin">LuminusHD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= activate_route("dashboards") %>">
        <a class="nav-link" href="<%= admin_dashboards_path %>">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= activate_route("albums") %>">
        <a class="nav-link" href="<%= admin_albums_path %>">Albums <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= activate_route("artists") %>">
        <a class="nav-link" href="<%= admin_artists_path %>">Artists</a>
      </li>
      <li class="nav-item <%= activate_route("genres") %>">
        <a class="nav-link" href="<%= admin_genres_path %>">Genres</a>
      </li>
      <li class="nav-item <%= activate_route("tracks") %>">
        <a class="nav-link" href="<%= admin_tracks_path %>">Tracks</a>
      </li>
      <li class="nav-item dropdown <%= activate_route("orders") %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item <%= activate_route("users") %>">
        <a class="nav-link" href="<%= admin_users_path %>">Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>