<div class="container custom-table pl-10 pr-10 pb-20">
  <div class="jumbotron jumbotron-fluid pb-10 bg-white">
    <div class="container pl-0">

      <div class="row align-items-center justify-content-end">

        <div class="col-12 col-md-6">
          <h3>
            <%= resource_name %> <a href="/admin/<%= resource_name.downcase %>/new" class="btn btn-sm btn-outline-primary ml-1"><i class="fa fa-plus"></i></a><br>
            <small class="text-muted">Search, filter, and inspect <%=  resource_name.downcase %> here.</small>
          </h3>
        </div>

        <div class="col-12 col-md-6">
          <form action="<%= admin_albums_path(per_page: per_page, page: page, sort_field: sort_field, sort_direction: sort_direction) %>" method="POST
            " class="form-inline float-left float-md-right">

            <div class="form-group mx-sm-3">
              <input type="text" name="q" class="form-control" id="q" placeholder="Search">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
            
          </form>
        </div>
        
      </div>

    </div>
  </div>

  <div class="row d-none d-md-flex justify-content-start border-bottom">

    <% columns.each_with_index do |column, i| %>
        <div class="col-md custom-table--header">
         
          <% if sort_field == column[:field] && sort_direction == 'asc' %>
            <%= link_to admin_albums_path(per_page: per_page, page: page, sort_field: column[:field], sort_direction: 'desc') do %>
              <%= column[:label] %>
              <a class="fa fa-arrow-down"></a>
            <% end %>
          <% elsif sort_field == column[:field] && sort_direction == 'desc' %>
            <%= link_to admin_albums_path(per_page: per_page, page: page, sort_field: column[:field], sort_direction: 'asc') do %>
              <%= column[:label] %>
              <a class="fa fa-arrow-up"></a>
            <% end %>
          <% else %>
            <%= link_to admin_albums_path(per_page: per_page, page: page, sort_field: column[:field], sort_direction: 'asc') do %>
              <%= column[:label] %>
            <% end %>
          <% end %>
        </div>
    <% end %>

  </div>
  

  <% rows.each_with_index do |row, i| %>
  
    <%= link_to edit_admin_album_path(row.id), class: 'custom-table--data-row' do %>
      <div class="row align-items-center justify-content-start border-bottom <%= "bg-light" if i.even? %>">

        <% columns.each do |column| %>
          <% if column[:association_field] %>
            <%= table_column(row.send(column[:field]).send(column[:association_field])) %>
          <% else %>
            <%= table_column(row.send(column[:field])) %>
          <% end %>
        <% end %>

      </div>
    <% end %>

      <div class="row spacer d-sm-flex d-md-none">
        <div class="col"></div>
      </div>
      
  <% end %>
    
</div>

<%= render partial: "admin/shared/pagination" %>